@import "./layout/mobile";
@import "./layout/tablet";
@import "./layout/desktop";
@import "../utilities/variables";
@import "../utilities/mixin";
@import "../utilities/maps";
@import "../utilities/extend";




/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
